/* Prevent FOUC in responsive nav header
 * https://foundation.zurb.com/sites/docs/responsive-navigation.html#preventing-fouc
 */
.no-js .top-bar {
  display: none;
}

body {
  background-color: #1e1e1e;
  color: #fefefe;
}

a,
a:link {
  color: #6a9955;
  cursor: pointer;
  hyphens: auto;
  transition: color .3s ease;
}
a:hover,
a:visited {
  color: #3a7733;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}

h4:focus {
  outline: none;
}

main {
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.home {
  height: calc(100vh - 40px);
}
@media screen and (min-width: 40em) {
  .home {
    height: calc(100vh - 54.4px);
    padding-bottom: 64px;
  }
}

.privacy {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 40em) {
  .privacy {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.top-bar,
.top-bar ul,
.title-bar,
#footer {
  background-color: #333;
  color: #fefefe;
}
.sub-navigation {
  background-color: #252525;
}
@media screen and (min-width: 40em) {
  .sub-navigation {
    position: fixed;
    left: 0;
    right: 0;
  }
}

#footer {
  padding: 32px 0;
}

/* Custom overrides */
ul, ol {
  list-style: none;
  margin-left: 0;
}

code {
  word-break: break-all;
}
